.skills {
  position: relative;
  padding: 60px 0px 0px 0px;
}

.skills::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background: #06b6d4;
  opacity: 0.08;
  filter: blur(250px);
  left: -250px;
  top: 200px;
  pointer-events: none;
}


.skills-header {
  text-align: center;
  max-width: 850px;
  margin: auto;
  margin-bottom: 80px;
}

.skills-header span {
  color: #8b5cf6;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 4px;
}

.skills-header h2 {
  margin-top: 20px;
  font-size: 3.5rem;
  font-weight: 800;
}

.skills-header p {
  margin-top: 20px;
  color: #94a3b8;
  line-height: 1.8;
}


.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


.skill-card {
  padding: 35px;
  transition: 0.35s ease;
}

.skill-card:hover {
  transform: translateY(-10px);
}

.skill-card h3 {
  margin-bottom: 25px;
  font-size: 1.4rem;
  color: white;
}


.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skill-tag {
  padding: 10px 18px;
  border-radius: 999px;

  background: rgba(255,255,255,0.06);

  border: 1px solid rgba(255,255,255,0.08);

  color: #cbd5e1;

  transition: .3s ease;
}

.skill-tag:hover {
  transform: translateY(-3px);

  background: linear-gradient(
    135deg,
    #8b5cf6,
    #06b6d4
  );

  color: white;
}



@media(max-width:1100px){

  .skills-grid{
    grid-template-columns:repeat(2,1fr);
  }

}

@media(max-width:768px){

  .skills-grid{
    grid-template-columns:1fr;
  }

  .skills-header h2{
    font-size:2.5rem;
  }
.skills {
  padding: 0px 0px 0px 0px;
}
}

@media(max-width:500px){


  .skills-header h2{
    font-size:2rem;
  }
.skills {
  padding: 0px 0px 0px 0px;
}
}