@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --bg:#050816;
  --card:#0f172a;
  --text:#ffffff;
  --muted:#94a3b8;
  --primary:#8b5cf6;
  --secondary:#06b6d4;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
   
}
#root{
  width:100%;
  overflow-x:hidden;
}
html{
  scroll-behavior:smooth;
}

body{
  font-family:'Outfit',sans-serif;
  background:var(--bg);

  color:var(--text);
  overflow-x:hidden;
  width: 100%;
}

a{
  text-decoration:none;
}

ul{
  list-style:none;
}

.container{
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding:0 20px;
  
}
section{
  padding-top:120px;
}

.section-title{
  font-size:3rem;
  text-align:center;
  margin-bottom:70px;
  font-weight:800;
}

.gradient-text{
  background:linear-gradient(
  90deg,
  #8b5cf6,
  #06b6d4
  );
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.glass{
  background:rgba(255,255,255,.05);
  backdrop-filter:blur(18px);
  border:1px solid rgba(255,255,255,.08);
  border-radius:30px;
}